h1 {
    background-color: #ab9b96;
    font-style: oblique;
    text-align: center;
    color: rgb(226, 225, 223);
}

img {
    border-radius: 50%;
    float: left;
}
 .section-1 {
text-align: center;
padding-top: 15%;
padding-bottom: 15%;
background-color: #ab9b96;
color: rgb(226, 225, 223);

 }

 .section-2 {
    padding-top: 5%;
    padding-bottom: 5%;

 }

 .section-2 img {
    float: right;
width: 450px;
border-radius: 100%;
 }

 .section-3 {
    padding-bottom: 5%;
 }

 .section-4 {
    padding-bottom: 5%;
 }
p {
font-size: x-large;
}

main {
    background-color: #f0e7d8;
}

footer {
    background-color: #ab9b96;
    text-align: center;
}

section {
    text-align: center;
    padding-left: 15%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #f0e7d8;
}
